/*=============================================================
                       Costom CSS Styles
font-family: "Open sans" , sans-serif;
    font-weight: 300;
    font-weight: 400;
    font-weight: 600;
    font-weight: 700;

color : #6255a5  OR rbg(98,85,165)
==============================================================*/

/* =========================================
                Html, Body 
============================================ */
html,
body {
  height: 100%;
}
section {
  background: #fff;
  overflow: hidden;
}

/* =========================================
                Background Image
============================================ */

#sign-up-page {
  background-image: url("../../images/pre-login/banner-with-overlay.jpg");
  height: 1300px;
  background-repeat: no-repeat;
  background-size: cover;
}

/* =========================================
                form
============================================ */
input,
form {
  margin: 0;
  padding: 0;
}
.container {
  margin-top: 160px;
  padding: 0;
  width: 580px;
}
.form-wrapper {
  background-color: #fff;
  padding: 50px;
}
.logo img {
  margin-bottom: 25px;
}

/* Header */
.form-wrapper h1 {
  font-family: "Open sans", sans-serif;
  font-size: 34px;
  font-weight: 600;
  line-height: 38px;
  color: #6255a5;
}
.form-wrapper h5 {
  font-family: "Open sans", sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 19px;
  color: #333333;
  margin: 10px 0 30px 0;
}
#successfull-login > img {
  filter: invert(35%) sepia(98%) saturate(927%) hue-rotate(86deg)
    brightness(101%) contrast(96%);
}
#successfull-login {
  margin: 10px 0 20px 0;
  color: rgb(12, 163, 12);
}
/* Label for feilds */
label {
  font-family: "Open sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  color: #333333;
}

/* Input Fields */
#firstName,
#lastName,
#inputEmail,
#inputPassword,
#confirmPassword {
  border: 1px solid #6255a5;
  border-radius: 3px;
  width: 480px;
  height: 50px;
  margin-bottom: 30px;
}
#firstName::placeholder,
#lastName::placeholder,
#inputEmail::placeholder,
#inputPassword::placeholder,
#confirmPassword::placeholder {
  font-family: "Open sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  color: #8a8a8a;
}
#firstName:focus,
#lastName:focus,
#inputEmail:focus,
#inputPassword:focus,
#confirmPassword:focus {
  background: #ffffff;
  outline: none;
  box-shadow: 0px 0px 15px -5px #6255a5;
  border: transparent;
}
/* Show-hide image icon  */
.show-hide {
  float: right;
  transform: translateY(-62px) translateX(-15px);
}
.validation small#passwordVarification,
.validation small#passwordValidation,
.validation small#emailValidation,
.validation small#firstNameValidation,
.validation small#lastNameValidation {
  display: none;
}
small#passwordVarification,
small#passwordValidation,
small#emailValidation,
small#firstNameValidation,
small#lastNameValidation {
  margin-top: -27px;
  margin-bottom: 30px;
}
.wrong-info input#confirmPassword,
.wrong-info input#inputPassword,
.wrong-info input#inputEmail,
.wrong-info input#firstName,
.wrong-info input#lastName {
  border: 1px solid #ff5e5e;
}
.wrong-info small#passwordVarification,
.wrong-info small#passwordValidation,
.wrong-info small#emailValidation,
.wrong-info small#firstNameValidation,
.wrong-info small#lastNameValidation {
  color: #ff5e5e;
}

/*  Login Button */
button {
  background-color: #6255a5;
  width: 480px;
  height: 50px;
  border-radius: 3px;
  margin-bottom: 20px;
  border: transparent;
  font-family: "Open sans", sans-serif;
  color: #fff;
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: px;
  line-height: 22px;
  font-weight: 600;
}
button:hover,
button:focus {
  background-color: #ffffff;
  border: 1px solid #6255a5;
  color: #6255a5;
}

/* Sign Up */
.form-wrapper h4 {
  font-family: "Open sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  color: #333333;
  margin: 15px 0 45px 0;
  margin: 0;
}
.form-wrapper h4 a {
  color: #6255a5;
  text-decoration: none;
}

/* for responsive  */

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991px) {
  /* =========================================
                    Background Image
    ============================================ */
  #login-page {
    height: 800px;
  }

  /* =========================================
                    form
    ============================================ */
  .container {
    margin-top: 90px;
    width: 500px;
  }
  .form-wrapper {
    padding: 30px;
  }
  .logo img {
    margin-bottom: 20px;
  }

  /* Header */
  .form-wrapper h1 {
    font-size: 32px;
    line-height: 32px;
  }
  .form-wrapper h5 {
    font-size: 14px;
    line-height: 15px;
    margin: 15px 0 40px 0;
  }

  /* Label for feilds */
  label {
    font-size: 14px;
    line-height: 18px;
  }

  /* Input Fields */
  #firstName,
  #lastName,
  #inputEmail,
  #inputPassword,
  #confirmPassword {
    width: 440px;
    height: 40px;
    margin-bottom: 20px;
  }

  #firstName::placeholder,
  #lastName::placeholder,
  #inputEmail::placeholder,
  #inputPassword::placeholder,
  #confirmPassword::placeholder {
    font-size: 14px;
    line-height: 20px;
  }

  /* Show-hide image icon  */
  .show-hide {
    float: right;
    transform: translateY(-47px) translateX(-15px);
  }
  small#passwordVarification,
  small#passwordValidation,
  small#emailValidation {
    margin-top: -19px;
    margin-bottom: 20px;
  }

  /*  Login Button */
  button {
    width: 440px;
    height: 40px;
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 16px;
    line-height: 22px;
  }

  /* Sign Up */
  .form-wrapper h4 {
    font-size: 14px;
    line-height: 20px;
    margin: 0px 0 30px 0;
  }
}

/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767px) {
  /* =========================================
                    Background Image
    ============================================ */
  #login-page {
    height: 700px;
  }

  /* =========================================
                    form
    ============================================ */
  .container {
    margin-top: 75px;
    width: 420px;
  }
  .form-wrapper {
    padding: 20px;
  }
  .logo img {
    height: 35px;
    margin-bottom: 15px;
  }

  /* Header */
  .form-wrapper h1 {
    font-size: 30px;
    line-height: 30px;
  }
  .form-wrapper h5 {
    font-size: 14px;
    line-height: 15px;
    margin: 15px 0 30px 0;
  }

  /* Label for feilds */
  label {
    font-size: 13px;
    line-height: 15px;
  }

  /* Input Fields */
  #firstName,
  #lastName,
  #inputEmail,
  #inputPassword,
  #confirmPassword {
    width: 380px;
    height: 35px;
    margin-bottom: 20px;
  }
  #firstName::placeholder,
  #lastName::placeholder,
  #inputEmail::placeholder,
  #inputPassword::placeholder,
  #confirmPassword::placeholder {
    font-size: 13px;
    line-height: 20px;
  }

  /* Show-hide image icon  */
  .show-hide {
    float: right;
    height: 13px;
    transform: translateY(-44px) translateX(-15px);
  }

  small#passwordVarification,
  small#passwordValidation,
  small#emailValidation {
    margin-top: -17px;
    margin-bottom: 20px;
  }

  /*  Login Button */
  button {
    width: 380px;
    height: 35px;
    margin-top: 5px;
    margin-bottom: 15px;
    font-size: 14px;
    line-height: 22px;
  }

  /* Sign Up */
  .form-wrapper h4 {
    font-size: 13px;
    line-height: 20px;
    margin: 0px 0 30px 0;
  }
}

@media (min-width: 375px) and (max-width: 575px) {
  /* =========================================
                    Background Image
    ============================================ */
  #login-page {
    height: 550px;
  }

  /* =========================================
                    form
    ============================================ */
  .container {
    margin-top: 55px;
    width: 320px;
  }
  .form-wrapper {
    padding: 20px;
  }
  .logo img {
    height: 30px;
    margin-bottom: 15px;
  }

  /* Header */
  .form-wrapper h1 {
    font-size: 25px;
    line-height: 25px;
  }
  .form-wrapper h5 {
    font-size: 12px;
    line-height: 12px;
    margin: 8px 0 20px 0;
  }

  /* Label for feilds */
  label {
    font-size: 12px;
    line-height: 12px;
    margin-bottom: 0;
  }

  /* Input Fields */
  #firstName,
  #lastName,
  #inputEmail,
  #inputPassword,
  #confirmPassword {
    width: 280px;
    height: 30px;
    margin-bottom: 10px;
  }
  #firstName::placeholder,
  #lastName::placeholder,
  #inputEmail::placeholder,
  #inputPassword::placeholder,
  #confirmPassword::placeholder {
    font-size: 12px;
    line-height: 12px;
  }

  /* Show-hide image icon  */
  .show-hide {
    float: right;
    height: 11px;
    transform: translateY(-30px) translateX(-12px);
  }

  small#passwordVarification,
  small#passwordValidation,
  small#emailValidation {
    font-size: 11px;
    margin-top: -9px;
    margin-bottom: 10px;
  }

  /*  Login Button */
  button {
    width: 280px;
    height: 30px;
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 13px;
    line-height: 22px;
  }

  /* Sign Up */
  .form-wrapper h4 {
    font-size: 12px;
    line-height: 20px;
    margin: 0px 0 20px 0;
  }
}

@media (min-width: 320px) and (max-width: 374px) {
  /* =========================================
                    Background Image
    ============================================ */
  #login-page {
    height: 550px;
  }

  /* =========================================
                    form
    ============================================ */
  .container {
    margin-top: 55px;
    width: 280px;
  }
  .form-wrapper {
    padding: 15px;
  }
  .logo img {
    height: 25px;
    margin-bottom: 10px;
  }

  /* Header */
  .form-wrapper h1 {
    font-size: 22px;
    line-height: 23px;
  }
  .form-wrapper h5 {
    font-size: 10px;
    line-height: 12px;
    margin: 3px 0 5px 0;
  }

  /* Label for feilds */
  label {
    font-size: 10px;
    line-height: 12px;
    margin-top: 0;
    margin-bottom: 0;
  }

  /* Input Fields */
  #firstName,
  #lastName,
  #inputEmail,
  #inputPassword,
  #confirmPassword {
    width: 250px;
    height: 25px;
    margin-bottom: 0px;
  }

  #firstName::placeholder,
  #lastName::placeholder,
  #inputEmail::placeholder,
  #inputPassword::placeholder,
  #confirmPassword::placeholder {
    font-size: 10px;
    line-height: 10px;
  }

  /* Show-hide image icon  */
  .show-hide {
    float: right;
    height: 10px;
    transform: translateY(-18px) translateX(-10px);
  }

  small#passwordVarification,
  small#passwordValidation,
  small#emailValidation {
    font-size: 9px;
    margin-top: 0px;
    margin-bottom: 0px;
  }

  /*  Login Button */
  button {
    width: 250px;
    height: 25px;
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 11px;
    line-height: 22px;
  }

  /* Sign Up */
  .form-wrapper h4 {
    font-size: 10px;
    line-height: 20px;
    margin: 0px 0 10px 0;
  }
}
