/* =========================================
                Footer
============================================ */
#footer {
    padding-top: 45px;
    background-color: #ffffff;
}
#footer hr {
    width: 100%;
    border: 1px solid #f4f4f4;
    margin: 0;
}
#footer p {
    color: #333333;
    font-family: "Open sans" , sans-serif;
    font-size: 17px;
    font-weight: 400;
    margin:0;
    padding: 45px 0;
}
/* Social Icons */
ul.social-icons {
    margin: 0;
    padding: 43px 0 ;
    float: right;
}
ul.social-icons li {
    margin: 0 1px;
    display: inline-block;
    padding: 0;
    text-align: center;
}
ul.social-icons li a {
    border: 1px solid #fff;
    width: 33px;
    height: 33px;
    background-color: #6255a5;
    display: inline-block;
    line-height: 33px;
    color: #fff;
    border-radius: 50%;
    -webkit-transition: all 400ms linear;
    transition: all 400ms linear;
}
ul.social-icons li a img {
    margin-bottom: 7px;
}
ul.social-icons li:nth-child(1) a:hover {
    background: #3b5998;
    border-color: transparent;
}
ul.social-icons li:nth-child(2) a:hover {
    background: #00aced;
    border-color: transparent;
}
ul.social-icons li:nth-child(3) a:hover {
    background: #1f479c;
    border-color: transparent;
}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199px) { 
    #footer {
        padding-top: 45px;
    }
    #footer p {
        padding: 40px 0;
        font-size: 16px;
    }
    /* Social Icons */
    ul.social-icons {
        margin: 0;
        padding: 38px 0 ;
    }
    ul.social-icons li {
        margin: 0 1px;
    }
    ul.social-icons li a {
        border: 1px solid #fff;
        width: 33px;
        height: 33px;
    }
    ul.social-icons li a img {
        margin-bottom: 7px;
    }

 }
 
/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991px) { 
    #footer {
        padding-top: 30px;
    }
    #footer > div > div > div.col-lg-9.col-md-9 > p{
        padding:  33px 0;
        font-size: 14px;
    }
    /* Social Icons */
    #footer ul.social-icons {
        margin: 0;
        padding: 30px 0 ;
    }
    #footer  ul.social-icons li {
        margin: 0 1px;
    }
    #footer  ul.social-icons li a {
        border: 1px solid #fff;
        width: 28px;
        height: 28px;
    }
    #footer ul.social-icons li a img {
        height: 13px;
        margin-bottom: 12px;
    }
 }
 
/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and  (max-width: 767px) {
    #footer > div > div > div.col-lg-9.col-md-9 > p{
        padding:  29px 0;
        font-size: 13px;
    }
    /* Social Icons */
    #footer ul.social-icons {
        margin: 0;
        padding: 25px 0 ;
    }
    #footer  ul.social-icons li {
        margin: 0 -1px;
    }
    #footer  ul.social-icons li a {
        border: 1px solid #fff;
        width: 26px;
        height: 26px;
    }
    #footer ul.social-icons li a img {
        height: 13px;
        margin-bottom: 12px;
    }
  }



@media (min-width: 375px) and  (max-width: 575px){
    #footer > div > div > div.col-lg-9.col-md-9 > p{
        text-align: center;
        padding:  40px 0;
        font-size: 13px;
    }
    /* Social Icons */
    #footer ul.social-icons {
        padding: 0px 0 ;
        margin-top: -90px;
        float: left;
        margin-left:45%;
    }
    #footer  ul.social-icons li {
        margin: 0 -1px;
    }
    #footer  ul.social-icons li a {
        border: 1px solid #fff;
        width: 24px;
        height: 24px;
    }
    #footer ul.social-icons li a img {
        height: 11px;
        margin-bottom: 15px;
    }
}



@media (min-width: 320px) and  (max-width: 374px){
    #footer > div > div > div.col-lg-9.col-md-9 > p{
        text-align: center;
        padding:  40px 0;
        font-size: 13px;
    }
    /* Social Icons */
    #footer ul.social-icons {
        padding: 0px 0 ;
        margin-top: -90px;
        float: left;
        margin-left:40%;
    }
    #footer  ul.social-icons li {
        margin: 0 -1px;
    }
    #footer  ul.social-icons li a {
        border: 1px solid #fff;
        width: 24px;
        height: 24px;
    }
    #footer ul.social-icons li a img {
        height: 11px;
        margin-bottom: 15px;
    }
}
