/*=============================================================
                       Costom CSS Styles
font-family: "Open sans" , sans-serif;
    font-weight: 300;
    font-weight: 400;
    font-weight: 600;
    font-weight: 700;

color : #6255a5  OR rbg(98,85,165)
==============================================================*/

/* =========================================
                Html, Body
============================================ */
html,
body {
    height: 100%;
}
section {
    background: #fff;
    overflow: hidden;
}



/* ===========================================
                Heading
============================================ */
.heading h2 {
    color: #6255a5;
    font-family: "Open sans" , sans-serif;
    font-size: 32px;
    font-weight: 600;
    line-height: 38px;
    margin-top: 45px ;
    margin-bottom: 20px;
}

/* Label for feilds */
label {
    font-family: "Open sans" , sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    color: #333333; 
    margin-bottom: 6px;
}

/* title field  */
#first-name:hover,
#last-name:hover,
#email:hover,
#sec-email:hover,
#Phone-number:hover,
.take-profile:hover,
.select-field:hover,
#first-name:focus,
#last-name:focus,
#email:focus,
#sec-email:focus,
#Phone-number:focus,
.take-profile:focus,
.select-field:focus{
    background-color: #f1f1f1;
    /* outline: none; */
    box-shadow: none;
    border: transparent;
}
/* Input Fields */
#first-name,
#last-name,
#email,
#sec-email,
#Phone-number,
.select-field{
    border: 1px solid #d1d1d1;
    border-radius: 3px;
    height: 45px;
    width: 100%;
}

/* placeholder of all inpit fields */
#first-name::placeholder,
#last-name::placeholder,
#email::placeholder,
#sec-email::placeholder,
#Phone-number::placeholder{
    font-family: "Open sans" , sans-serif; 
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    color: #8a8a8a;
   
}
/* select */
button.select-field {
    padding-left: 13px;
    background-color: #ffffff;
    text-align: left;
    font-family: "Open sans" , sans-serif; 
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    color: #8a8a8a;
}
button.select-field img {
    float: right;
    padding-top: 5px;
    padding-right: 8px;
}
.dropdown-menu{
    cursor: pointer;
    min-width: 100%;
}

/* for taking input from user - photo and file */
.take-profile {
    border: 1px solid #d1d1d1;
    border-radius: 3px;
    height: 100px;
    width: 100%;
}
.take-profile label { 
    margin-top: 15px;
    text-align: center;
    margin-left: 210px;
    font-family: "Open sans" , sans-serif; 
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    color: #8a8a8a;  
}
button.submit {
    background-color: #6255a5;
    width: 115px;
    height: 45px;
    border-radius: 3px;
    margin-top: 15px;
    margin-bottom: 10px;
    border: transparent;
    font-family: "Open sans" , sans-serif;
    color: #fff;
    font-size: 18px;
    text-transform: uppercase;
    line-height: 22px;
    font-weight: 600;
}
button.submit:hover ,
button.submit:focus {
    background: #ffffff;
    color: #6255a5;
    outline: none;
    box-shadow: 0px 0px 15px -5px #6255a5;
    border: #6255a5;
}

/* for already present email id  */
.validate small{
    display: none;
}
.wrong-email > #email {
    border-color: red;
}
.wrong-email > small {
    display: inline;
    color: red;
}

/* For Responsive Css  */

/* // Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px)  { 
    .take-profile label{
        margin-left: 320px;
    }
 }


/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199px) {
    .take-profile label{
        margin-left: 250px;
    }
  }

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991px) { 
    .heading h2 {
        font-size: 30px;
        line-height: 34px;
        margin-top: 30px ;
        margin-bottom: 15px;
    }
    #first-name,
#last-name,
#email,
#sec-email,
#Phone-number,
.select-field{
    height: 40px;
}
/* placeholder of all inpit fields */
#first-name::placeholder,
#last-name::placeholder,
#email::placeholder,
#sec-email::placeholder,
#Phone-number::placeholder{
    font-size: 15px;
    line-height: 18px;
   
}
/* Label for feilds */
label {
    font-size: 14px;
    line-height: 16px;
    margin-bottom: 4px;
}
/* for taking input from user - photo and file */
.take-profile {
    height: 90px;
}
.take-profile label { 
    margin-top: 13px;
    margin-left: 210px;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
}
.take-profile label{
    margin-left: 170px;
}
.take-profile img {
    height: 40px;
}

button.submit {
    width: 105px;
    height: 40px;
    margin-top: 12px;
    margin-bottom: 8px;
    font-size: 16px;
    line-height: 20px;
    font-weight: 600;
}

 }


/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and  (max-width: 767px) { 
    .heading h2 {
        font-size: 28px;
        line-height: 34px;
        margin-top: 5px ;
        margin-bottom: 10px;
    }
    #first-name,
#last-name,
#email,
#sec-email,
#Phone-number,
.select-field{
    height: 35px;
}
/* placeholder of all inpit fields */
#first-name::placeholder,
#last-name::placeholder,
#email::placeholder,
#sec-email::placeholder,
#Phone-number::placeholder{
    font-size: 13px;
    line-height: 18px;
   
}
/* Label for feilds */
label {
    margin-top: 0px;
    font-size: 13px;
    line-height: 16px;
    margin-bottom: 2px;
}
#phone-code img {
    height: 15px;
}
/* for taking input from user - photo and file */
.take-profile {
    height: 80px;
}
.take-profile label { 
    margin-top: 13px;
    margin-left: 210px;
    font-size: 14px;
    line-height: 20px;
}
.take-profile label{
    margin-left: 115px;
}
.take-profile img {
    height: 30px;
}
.phone-section {
    width: 330px;
}
#phone-code {
    width: 100px;
 }
 #Phone-number {
     /* margin-right: 45px; */
     /* margin-left: -30px; */
     /* margin-top: -35px; */
     float: right;
     width: 210px;
 }

button.submit {
    width: 90px;
    height: 35px;
    margin-top: 12px;
    margin-bottom: 8px;
    font-size: 14px;
    line-height: 20px;
}

 }


@media (min-width: 375px) and  (max-width: 575px){
    .heading h2 {
        font-size: 26px;
        line-height: 34px;
        margin-top: 5px ;
        margin-bottom: 10px;
    }
    #first-name,
#last-name,
#email,
#sec-email,
#Phone-number,
.select-field{
    width: 300px;
    height: 30px;
}
/* placeholder of all inpit fields */
#first-name::placeholder,
#last-name::placeholder,
#email::placeholder,
#sec-email::placeholder,
#phone-code::placeholder,
#Phone-number::placeholder{
    font-size: 13px;
    line-height: 18px;
}
/* Label for feilds */
label {
    margin-top: 0px;
    font-size: 13px;
    line-height: 16px;
    margin-bottom: 2px;
}
#phone-code img {
    height: 15px;
}
/* for taking input from user - photo and file */
.take-profile {
    width: 300px;
    height: 80px;
}
.take-profile label { 
    margin-top: 13px;
    margin-left: 210px;
    font-size: 14px;
    line-height: 20px;
}

.take-profile label{
    margin-left: 105px;
}
.take-profile img {
    height: 30px;
}
.phone-section {
    width: 330px;
}
#phone-code {
   width: 80px;
   margin-right: 10px;
}
#Phone-number {
    /* margin-right: 0; */
    margin-top: -30px;
    float: right;
    right: 0;
    width: 210px;
}

button.submit {
    width: 90px;
    height: 30px;
    margin-top: 12px;
    margin-bottom: 8px;
    font-size: 14px;
    line-height: 20px;
}

}

@media (min-width: 320px) and  (max-width: 374px){
    .heading h2 {
        font-size: 24px;
        line-height: 34px;
        margin-top: 0px ;
        margin-bottom: 5px;
    }
    #first-name,
#last-name,
#email,
#sec-email,
#Phone-number,
.select-field{
    width: 250px;
    height: 30px;
}
/* placeholder of all inpit fields */
#first-name::placeholder,
#last-name::placeholder,
#email::placeholder,
#sec-email::placeholder,
#phone-code::placeholder,
#Phone-number::placeholder{
    font-size: 13px;
    line-height: 18px;
}
/* Label for feilds */
label {
    margin-top: 0px;
    font-size: 13px;
    line-height: 16px;
    margin-bottom: 2px;
}
#phone-code img {
    margin-right: -7px;
    margin-top: 2px;
    height: 15px;
}
/* for taking input from user - photo and file */
.take-profile {
    width: 250px;
    height: 80px;
}
.take-profile label { 
    margin-top: 13px;
    font-size: 14px;
    line-height: 20px;
}
.take-profile label{
    margin-left: 70px;
}
.take-profile img {
    height: 30px;
}
.phone-section {
    width: 320px;
}

#phone-code {
   width: 70px;
}
#Phone-number {
    margin-right: 40px;
    margin-top: -30px;
    float: right;
    width: 175px;
}

button.submit {
    width: 90px;
    height: 30px;
    margin-top: 12px;
    margin-bottom: 8px;
    font-size: 14px;
    line-height: 20px;
}

}






