
/* =========================================
                Html, Body
============================================ */
html,
body {
    height: 100%;
}
section {
    background: #fff;
    overflow: hidden;
}


/* ===========================================
                Heading
============================================ */
.heading {
  height: 100%;
  width: 100%;
  /* padding-top: 15px; */
}
.heading h2 {
    color: #6255a5;
    font-family: "Open sans" , sans-serif;
    font-size: 30px;
    font-weight: 600;
    line-height: 32px;
}
.heading h3{
    color: #6255a5;
    font-family: "Open sans" , sans-serif;
    font-size: 24px;
    font-weight: 600;
    line-height: 28px;
    margin-top: 40px;
    margin-bottom: 20px;
}
.heading h4{
    color: #333333;
    font-family: "Open sans" , sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 20px;
    margin-top: 20px;
    margin-bottom: 15px;
}
.heading p{
    color: #333333;
    font-family: "Open sans" , sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 20px;
}


/*  Download Button */
button{
    background-color: #6255a5;
    width: 200px;
    height: 45px;
    border-radius: 3px;
    margin-top: 5px ;
    border: transparent;
}
button a{
    padding-top: 17px;
    font-family: "Open sans" , sans-serif;
    color: #fff;
    font-size: 18px;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: px;
    line-height: 22px;
    font-weight: 600;
}
button:hover ,
button:focus {
    background-color: #ffffff;
    border: 1px solid #6255a5;
    color: #6255a5;     
}
button:focus {
    color: #6255a5;
}
button:hover a {
    text-decoration: none;
    color: #6255a5;
}

/* Book Details */
.book-details div.col-lg-6:first-child h5{
    color: #333333;
    font-family: "Open sans" , sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
}
.book-details div.col-lg-6:nth-child(2) h5{
    color: #6255a5;
    font-family: "Open sans" , sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    text-align: right;
}

/* ratings */
h5.star {
    margin-right: 0;
    margin-left: -20px; 
}
.star img {
    height: 20px;
}

/* report */
#report-spam {
    color: #df3434;
    font-family: "Open sans" , sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    margin-top: 10px;
}
/* ===========================================
               Notes Review and Preview
============================================ */

/* book-info */
.book-info img{
    height: 275px;
    width: 100%;
}

/* customer review */
.customer-wrapper{
    border: 1px solid  #d1d1d1;
    border-radius: 3px;
    padding: 30px;
}
.review-preview .col-lg-5 img  {
  height: 427px;
  width: 100%;
}
.customer-review img {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    margin-top: 5px;
}
.customer-review .col-lg-10 {
    margin-left: -30px;
}
.customer-review .col-lg-10 img {
    height: 20px;
    width: 20px;
}
.customer-review .col-lg-10  h5 {
    color: #333333;
    font-weight: 600;
    margin: 0;
}
.customer-review .col-lg-10 p {
    color: #333333;
    font-family: "Open sans" , sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    margin-top: 5px;
    margin-bottom: 15px;
}
.customer-review .col-lg-10 p:last-child{
    margin-bottom: 0;   
}

/* thanks popup */
.modal-header {
    display: block;
    border: none;
}
.modal-header img{
     margin-left: auto;
     margin-right: auto;
     margin-top: 30px;
}
.modal-header h2 {
    color: #6255a5;
    font-family: "Open sans" , sans-serif;
    font-size: 26px;
    font-weight: 600;
    line-height: 30px;
    margin-top: 20px;
}
.modal-header button {
    position: relative;
    float: right;
    width: 20px;
}
.modal-header button img {
    position: absolute;
    top: -15px;
    right: 15px;
}
.modal-header button:hover {
    border: transparent;
}

.modal-body h4 {
    color: #333333;
    font-family: "Open sans" , sans-serif;
    font-size: 18px;
    font-weight: 600;
    line-height: 22px;
}
.modal-body p {
    color: #333333;
    font-family: "Open sans" , sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
}

 /* PDF Viewer */
 .responsive-wrapper {
   position: relative;
   height: 0; 
   overflow: hidden;
 }
 /* .responsive-wrapper img,
 .responsive-wrapper object, */
 .responsive-wrapper iframe {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   border-style: none;
   padding: 0;
   margin: 0;
 }
 
 .responsive-wrapper-padding-bottom-90pct {
   padding-bottom: 91%;
 }     


 /* for responsive  */
 


/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199px) { 
    .heading h3{
        font-size: 24px;
        line-height: 28px;
        margin-top: 20px;
        margin-bottom: 15px;
    }

    /* note details Left  */
    /* book-info */
.book-info img{
    height: 200px;
    width: 100%;
}
.book-info .col-lg-8 {
    margin: 0;
    padding: 0;
}
.heading h2 {
    font-size: 28px;
    line-height: 32px;
    margin-top: 0;
    padding-top: 0;
}
.heading h4{
    font-size: 18px;
    line-height: 20px;
    margin-top: 5px;
    margin-bottom: 5px;
}
.heading p{
    font-size: 12px;
    line-height: 20px;
    margin-bottom: 10px;
}

/*  Download Button */
button{
    width: 160px;
    height: 40px;
    margin-top: 5px ;
}
button a{
    padding-top: 16px;
    font-size: 16px;
    line-height: 20px;
}



/* Book Details */
.book-details div.col-lg-6:first-child h5{
    color: #333333;
    font-size: 15px;
    line-height: 20px;
}
.book-details div.col-lg-6:nth-child(2) h5{
    font-size: 15px;
    line-height: 20px;
    text-align: right;
}

/* ratings */
h5.star {
    margin-right: 0;
    margin-left: -30px; 
}
.star img {
    height: 16px;
}

/* report */
#report-spam h6 {
    font-size: 13px;
    line-height: 18px;
    margin-top: 0px;
    margin-bottom: 0;
}
/* customer review */
.customer-wrapper{
    padding: 20px;
}
.review-preview .col-lg-5 img  {
  height: 427px;
  width: 100%;
}
.customer-review img {
    height: 50px;
    width: 50px;
    margin-top: 5px;
}
.customer-review .col-lg-10 {
    margin-left: -25px;
}
.customer-review .col-lg-10 img {
    margin: 0;
    padding: 0;
    height: 15px;
    width: 15px;
}
.customer-review .col-lg-10  h5 {
    margin-top: 5px;
    font-size: 18px;
    margin: 0;
    padding: 0;
}
.customer-review .col-lg-10 p {
    font-size: 14px;
    line-height: 20px;
    margin-top: 2px;
    margin-bottom: 15px;
}
.customer-review .col-lg-10 p:last-child{
    margin-bottom: 0;   
}
.responsive-wrapper-padding-bottom-90pct {
    padding-bottom: 99%;
  }     
 
  
/* thanks popup */
.modal-header img{
     margin-top: 20px;
}
img#done {
    height: 50px;
    margin-bottom: 0;
}
.modal-header h2 {
    font-size: 24px;
    line-height: 26px;
    margin-top: 20px;
}
.modal-header button {
    width: 20px;
}
.modal-header button img {
    top: -5px;
    right: 15px;
}
.modal-header {
    margin-bottom: 0;
    padding-bottom: 0;
}
.modal-body h4 {
    font-size: 18px;
    line-height: 22px;
}
.modal-body p {
    font-size: 14px;
    line-height: 18px;
}

 }

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991px) { 
    .heading h3{
        font-size: 24px;
        line-height: 28px;
        margin-top: 0px;
        margin-bottom: 10px;
    }

    .book-details {
        margin-top: 30px;
    }
     
/* thanks popup */
.modal-header img{
    margin-top: 0px;
}
img#done {
   height: 40px;
   margin-bottom: 0;
}
.modal-header h2 {
   font-size: 22px;
   line-height: 26px;
   margin-top: 10px;
}
.modal-header button {
   width: 20px;
}
.modal-header button img {
   top: 10px;
   right: 15px;
}
.modal-header {
   margin-bottom: 0;
   padding-bottom: 0;
}
.modal-body h4 {
   font-size: 15px;
   line-height: 19px;
}
.modal-body p {
   font-size: 12px;
   line-height: 16px;
}
 }


/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and  (max-width: 767px) { 

    .heading h3{
        font-size: 22px;
        line-height: 28px;
        margin-top: 0px;
        margin-bottom: 10px;
    }

    .book-details {
        margin-top: 30px;
    }

    /* note details Left  */
    /* book-info */
.book-info img{
    height: 180px;
    width: 100%;
}
.book-info .col-lg-8 {
    margin: 0;
    padding: 0;
}
.heading h2 {
    font-size: 24px;
    line-height: 30px;
    margin-top: 0;
    padding-top: 0;
}
.heading h4{
    font-size: 14px;
    line-height: 20px;
    margin-top: 0px;
    margin-bottom: 5px;
}
.heading p{
    font-size: 11px;
    line-height: 18px;
    margin-bottom: 10px;
}

/*  Download Button */
button{
    width: 140px;
    height: 35px;
    margin-top:0px ;
}
button a{
    padding-top: 0px;
    font-size: 13px;
    line-height: 18px;
}



/* Book Details */
.book-details div.col-lg-6:first-child h5{
    font-size: 13px;
    line-height: 18px;
}
.book-details div.col-lg-6:nth-child(2) h5{
    font-size: 13px;
    line-height: 18px;
}

/* ratings */
h5.star {
    margin-right: 0;
    margin-left: -30px; 
}
.star img {
    height: 16px;
}

/* report */
#report-spam h6 {
    font-size: 11px;
    line-height: 13px;
    margin-top: 0px;
    margin-bottom: 0;
}
/* customer review */
.customer-wrapper{
    padding: 20px;
}
.review-preview .col-lg-5 img  {
  height: 427px;
  width: 100%;
}
.customer-review img {
    height: 45px;
    width: 45px;
    margin-top: 5px;
}
.customer-review .col-lg-10 {
    margin-left: -25px;
}
.customer-review .col-lg-10 img {
    margin: 0;
    padding: 0;
    height: 13px;
    width: 13px;
}
.customer-review .col-lg-10  h5 {
    margin-top: 5px;
    font-size: 16px;
    margin: 0;
    padding: 0;
}
.customer-review .col-lg-10 p {
    font-size: 11px;
    line-height: 16px;
    margin-top: 2px;
    margin-bottom: 15px;
}
.customer-review .col-lg-10 p:last-child{
    margin-bottom: 0;   
}
.responsive-wrapper-padding-bottom-90pct {
    padding-bottom: 90%;
  }     
 
      
/* thanks popup */
.modal-header img{
    margin-top: 0px;
}
img#done {
   height: 40px;
   margin-bottom: 0;
}
.modal-header h2 {
   font-size: 22px;
   line-height: 26px;
   margin-top: 10px;
}
.modal-header button {
   width: 20px;
}
.modal-header button img {
   top: 10px;
   right: 15px;
}
.modal-header {
   margin-bottom: 0;
   padding-bottom: 0;
}
.modal-body h4 {
   font-size: 15px;
   line-height: 19px;
}
.modal-body p {
   font-size: 12px;
   line-height: 16px;
}

 }

@media (min-width: 375px) and  (max-width: 575px){
    
    .heading h3{
        font-size: 22px;
        line-height: 28px;
        margin-top: 0px;
        margin-bottom: 10px;
    }

    .book-details {
        margin-top: 30px;
    }

    /* note details Left  */
    /* book-info */
.book-info img{
    height: 160px;
    width: 180px;
}
.book-info .col-lg-8 {
    margin: 0;
    padding: 15px;
}
.heading h2 {
    font-size: 24px;
    line-height: 30px;
    margin-top: 0;
    padding-top: 0;
}
.heading h4{
    font-size: 14px;
    line-height: 20px;
    margin-top: 0px;
    margin-bottom: 5px;
}
.heading p{
    font-size: 11px;
    line-height: 18px;
    margin-bottom: 10px;
}

/*  Download Button */
button{
    width: 140px;
    height: 35px;
    margin-top:0px ;
}
button a{
    padding-top: 0px;
    font-size: 13px;
    line-height: 18px;
}



/* Book Details */
.book-details div.col-lg-6:first-child h5{
    font-size: 13px;
    line-height: 18px;
}
.book-details div.col-lg-6:nth-child(2) {
    float: right;
    margin-top: -210px;
}
.book-details div.col-lg-6:nth-child(2) h5{
    font-size: 13px;
    line-height: 18px;
}

/* ratings */
h5.star {
    margin-right: 0;
    margin-left: -30px; 
}
.star img {
    height: 16px;
}

/* report */
#report-spam h6 {
    font-size: 11px;
    line-height: 13px;
    margin-top: 0px;
    margin-bottom: 0;
}
/* customer review */
.customer-wrapper{
    padding: 20px;
}
.review-preview .col-lg-5 img  {
  height: 427px;
  width: 100%;
}
.customer-review img {
    height: 45px;
    width: 45px;
    margin-top: 5px;
}
.customer-review .col-lg-10 {
    float: right;
    margin-top: -40px;
    margin-left: 60px;
}
.customer-review .col-lg-10 img {
    margin: 0;
    /* padding-left: 30px; */
    height: 13px;
    width: 13px;
}
.customer-review .col-lg-10  h5 {  
    /* float: left; 
    margin-top: -40px;
    margin-left: 80px; */
    font-size: 16px;
}
.customer-review .col-lg-10 p {
    font-size: 11px;
    line-height: 16px;
    margin-top: 2px;
    margin-left: -60px;
    margin-bottom: 15px;
}
.customer-review .col-lg-10 p:last-child{
    margin-bottom: 0;   
}
.responsive-wrapper-padding-bottom-90pct {
    padding-bottom: 90%;
  }    
      
/* thanks popup */
.modal-header img{
    margin-top: 0px;
    height: 13px;
}
img#done {
   height: 35px;
   margin-bottom: 0;
}
.modal-header h2 {
   font-size: 20px;
   line-height: 22px;
   margin-top: 5px;
}
.modal-header button {
   width: 20px;
}
.modal-header button img {
   top: 10px;
   right: 15px;
}
.modal-header {
   margin-bottom: 0;
   padding-bottom: 0;
}
.modal-body h4 {
   font-size: 14px;
   line-height: 16px;
}
.modal-body p {
   font-size: 11px;
   line-height: 16px;
} 

}

@media (min-width: 320px) and  (max-width: 374px){
    
    .heading h3{
        font-size: 22px;
        line-height: 28px;
        margin-top: 0px;
        margin-bottom: 10px;
    }

    .book-details {
        margin-top: 20px;
    }

    /* note details Left  */
    /* book-info */
.book-info img{
    height: 170px;
    width: 130px;
}
.book-info .col-lg-8 {
    margin: 0;
    padding: 15px;
}
.heading h2 {
    font-size: 24px;
    line-height: 30px;
    margin-top: 0;
    padding-top: 0;
}
.heading h4{
    font-size: 14px;
    line-height: 20px;
    margin-top: 0px;
    margin-bottom: 5px;
}
.heading p{
    font-size: 11px;
    line-height: 18px;
    margin-bottom: 10px;
}

/*  Download Button */
button{
    width: 140px;
    height: 35px;
    margin-top:0px ;
}
button a{
    padding-top: 0px;
    font-size: 13px;
    line-height: 18px;
}



/* Book Details */
.book-details div.col-lg-6:first-child h5{
    font-size: 12px;
    line-height: 16px;
}
.book-details div.col-lg-6:nth-child(2) {
    float: right;
    margin-top: -190px;
}
.book-details div.col-lg-6:nth-child(2) h5{
    font-size: 12px;
    line-height: 16px;
}

/* ratings */
h5.star {
    margin-right: 0;
    margin-left: -30px; 
}
.star img {
    height: 13px;
}

/* report */
#report-spam h6 {
    font-size: 11px;
    line-height: 13px;
    margin-top: 0px;
    margin-bottom: 0;
}
/* customer review */
.customer-wrapper{
    padding: 20px;
}
.review-preview .col-lg-5 img  {
  height: 427px;
  width: 100%;
}
.customer-review img {
    height: 40px;
    width: 40px;
    margin-top: 0px;
}
.customer-review .col-lg-10 {
    float: right;
    margin-top: -35px;
    margin-left: 50px;
}
.customer-review .col-lg-10 img {
    margin: 0;
    /* padding-left: 30px; */
    height: 13px;
    width: 13px;
}
.customer-review .col-lg-10  h5 {  
    /* float: left; 
    margin-top: -40px;
    margin-left: 80px; */
    font-size: 16px;
    line-height: 16px;
}
.customer-review .col-lg-10 p {
    font-size: 11px;
    line-height: 16px;
    margin-top: 2px;
    margin-left: -50px;
    margin-bottom: 15px;
}
.customer-review .col-lg-10 p:last-child{
    margin-bottom: 0;   
}
.responsive-wrapper-padding-bottom-90pct {
    padding-bottom: 90%;
  } 

      
/* thanks popup */
.modal-header img{
    margin-top: 0px;
    height: 13px;
}
img#done {
   height: 35px;
   margin-bottom: 0;
}
.modal-header h2 {
   font-size: 20px;
   line-height: 22px;
   margin-top: 5px;
}
.modal-header button {
   width: 20px;
}
.modal-header button img {
   top: 10px;
   right: 15px;
}
.modal-header {
   margin-bottom: 0;
   padding-bottom: 0;
}
.modal-body h4 {
   font-size: 14px;
   line-height: 16px;
}
.modal-body p {
   font-size: 11px;
   line-height: 16px;
} 
}

