/*=============================================================
                       Costom CSS Styles
font-family: "Open sans" , sans-serif;
    font-weight: 300;
    font-weight: 400;
    font-weight: 600;
    font-weight: 700;

color : #6255a5  OR rbg(98,85,165)
==============================================================*/

/* =========================================
                Html, Body
============================================ */
html,
body {
    height: 100%;
}
section {
    background: #fff;
}

/* ===========================================
                Heading
============================================ */
.heading h2 {
    color: #6255a5;
    font-family: "Open sans" , sans-serif;
    font-size: 28px;
    font-weight: 600;
    line-height: 38px;
    margin-top: 50px;
    margin-bottom: 20px;
}

/* ===========================================
                   Search Banner
============================================ */
#search-banner{
    background: none;
    height: 200px;
}
#search-bg-image {
    position: fixed; 
    z-index: -1;
    height: 200px;
    width: 100%;
    background-size: cover;
    top: 85px;
}
#search-overlay {
    background-color: rgba(57, 47, 105, 0.6);
    width: 100%;
    height: 300px;
    position: fixed;
    top: 85px;
    z-index: -1;
}

/* Search Content */
#search-content {
    padding-top: 85px;
    margin-left: auto;
    margin-right: auto;
}
#search-heading h2 {
    color: #ffffff;
    font-family: "Open sans" , sans-serif;
    font-weight: 600;
    font-size: 35px;
    line-height: 42px;
}


/* ===========================================
                   Search content
============================================ */
#filter-wrapper {
    width: 100%;
    background-color: #f4f4f4;
}
#filter-wrapper {
    padding: 30px 30px;
}
#search-result>.container {
    padding: 0;
}
input{
    font-family: "Open sans" , sans-serif;
}
input#filter-with-icon {
    height: 40px;
    margin-bottom: 25px;
}
input#filter-with-icon:focus {
    background: #ffffff;
    outline: none;
    box-shadow: 0px 0px 15px -5px #6255a5;
    border: transparent;
}
input.search-icon {
    background-image: url("../images/form/search-icon.png");
    background-size:17px;
    background-position:10px;
    background-repeat: no-repeat;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
}
.seach-fields button {
    position: relative;
    border: 1px solid #d1d1d1;
    border-radius: 3px;
    height: 40px;
    width: 100%;
}
.seach-fields button span{
    font-family: "Open sans" , sans-serif;
    font-size: 17px;
    font-weight: 400;
    line-height: 20px;
    width:85%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #8a8a8a;
    float: left;
}
.seach-fields button:focus {
    background: #ffffff;
    outline: none;
    box-shadow: 0px 0px 15px -5px #6255a5;
    border: transparent;
}

#search-field>.container>.row:nth-child(1)>.col-lg-12{
    padding: 0;
}
.seach-fields button img {
    position: absolute;
    top: 15px;
    right: 12px;
}
/* ===========================================
                   DropDown
============================================ */
.dropdown-from-db li {
    font-family: "Open sans" , sans-serif; 
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    color: #050505;
    padding-left: 10px;
}
.dropdown-from-db li:hover,
.dropdown-from-db li:focus 
{
    cursor: pointer;
    background-color: #6255a5;
    color: #ffffff;
    padding-top: 2px;
    padding-bottom: 2px;
}

/* Search result */
.book-info {
    max-width: 100%;
    max-height: 100%;
    border: 1px solid #d1d1d1;
    margin-bottom: 30px;
}
/* book image */
.book-info img.book-img {
     max-width: 100%;
     height: 210px;
}

.book-short-info {
    background-color: #ffffff;
    padding: 20px 0 20px 20px;
}
/* Book heading */

a.link-to-note-preview {
    text-decoration: none;
}
.book-short-info h5 {
    font-family: "Open sans" , sans-serif;
    font-size: 20px;
    font-weight: 600;
    line-height: 26px;
    color: #6255a5;
}
.book-short-info ul {
    margin-top: 10px;
    padding-left: 0;
}
.book-short-info ul li {
    list-style: none;
    margin: 7px 0;
}
.book-info-img{
    display: inline-block;
    width: 30px;
    text-align: center;
    margin-right: 10px;
}
.book-short-info ul li img {
       height: 20px;
       /* margin-right: 15px; */
       text-align: center;
}
.book-short-info ul li span {
    font-family: "Open sans" , sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    color: #333333;
}
.book-short-info ul li:last-child span {
    color: #df3434;
}
.star img{
    height: 20px;
    margin-top: -10px;
}
.star {
    margin-top: 10px;
    margin-left: -15px;
    padding-right: 0;
}
.star .col-lg-7 {
    font-family: "Open sans" , sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    color: #333333;
    padding: 0;
    margin-left: -12px;
}

.book-heading 
{
    height: 55px;
}

/* pagination */
.page-item.active .page-link {
    z-index: 0;
}
#pagination {
    background-color: #ffffff;
    padding-top: 20px;
}
#pagination nav.white-navbar {
    box-shadow: none;
}
/* page number */
#pagination a.page-link{
    font-family: "Open sans" , sans-serif;
    border: none;
    border-radius: 50%;
    font-weight: 400;
    width: 34px;
    height: 34px;
    font-size: 16px;
    line-height: 20px;
    color: #333333;
    margin: 2px;
}
#pagination a.page-link:hover,
#pagination a.page-link:focus{
       color: #ffffff;
       background-color: #6255a5;
       box-shadow: none;
}

/* for active page */
#pagination .page-item.active a.page-link {    
       color: #ffffff;
       background-color: #6255a5;
       box-shadow: none;
}

/* arrow  */
li.arrow {
    margin: 0 15px;
}
li.arrow a span{
    font-size: 30px;
    list-style: 30px;
}

/* for responsive  */
@media (min-width: 1200px)  { 
    #search-banner{
        height: 195px;
    }
    #search-bg-image {
        height: 200px;
        top: 68px;
    }
    #search-overlay {
        height: 200px;
        top: 68px;
    }
    #search-content {
        padding-top: 80px;
        margin-left: 45%;
    }
 }


/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199px) { 
.heading h2 {
    font-size: 26px;
    line-height: 38px;
    margin-top: 40px;
    margin-bottom: 15px;
}
#search-banner{
    height: 190px;
}
#search-bg-image {
    height: 200px;
    top: 62px;
}
#search-overlay {
    height: 200px;
    top: 62px;
}
#search-content {
    padding-top: 72px;
    margin-left: 45%;
}
#search-heading h2 {
    font-size: 35px;
    line-height: 42px;
}
#filter-wrapper {
    width: 100%;
}
#filter-wrapper {
    padding: 20px 20px;
}
#search-result>.container {
    padding: 0;
}
input#filter-with-icon {
    height: 35px;
    margin-bottom: 20px;
}
input.search-icon {
    background-size:15px;
    background-position:10px;
}
.seach-fields button {
    border-radius: 3px;
    height: 35px;
    width: 100%;
}
input#filter-with-icon::placeholder{
    font-size: 14px;
}
.seach-fields button span{
    font-size: 14px;
    line-height: 20px;
    width:85%;
}
.seach-fields button img {
    height: 10px;
    top: 12px;
    right: 11px;
}
.book-info {
    max-width: 100%;
    max-height: 100%;
    margin-bottom: 30px;
}
.book-info img.book-img {
     max-width: 100%;
     height: 180px;
}
.book-short-info {
    padding: 15px 0 15px 15px;
}
.book-heading 
{
    height: 45px;
}
.book-short-info h5 {
    font-size: 17px;
    line-height: 23px;
}
.book-short-info ul {
    margin-top: 10px;
    padding-left: 0;
}
.book-short-info ul li {
    margin: 5px 0;
}
.book-info-img{
    width: 28px;
    margin-right: 10px;
}
.book-short-info ul li img {
       height: 17px;
}
.book-short-info ul li span {
    font-size: 14px;
    line-height: 20px;
}
.star img{
    height: 15px;
    margin-top: -10px;
}
.star {
    margin-top: 10px;
    margin-left: -15px;
}
.star .col-lg-7 {
    font-size: 14px;
    line-height: 20px;
    padding: 0;
    margin-left: -12px;
}

#pagination {
    padding-top: 15px;
}
#pagination a.page-link{
    width: 32px;
    height: 32px;
    font-size: 16px;
    line-height: 20px;
    padding-top: 6px;
}
li.arrow {
    margin: 0 15px;
}
li.arrow span:first-child {
    font-size: 25px;
    margin: auto;
}
 }

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991px)  { 
    .heading h2 {
        font-size: 26px;
        line-height: 38px;
        margin-top: 30px;
        margin-bottom: 10px;
    }
    #search-banner{
        height: 150px;
    }
    #search-bg-image {
        height: 170px;
        top: 52px;
    }
    #search-overlay {
        height: 170px;
        top: 52px;
    }
    #search-content {
        padding-top: 45px;
        margin-left: 45%;
    }
    #search-heading h2 {
        font-size: 35px;
        line-height: 42px;
    }
    #filter-wrapper {
        width: 100%;
    }
    #filter-wrapper {
        padding: 20px 20px;
    }
    #search-result>.container {
        padding: 0;
    }
    input#filter-with-icon {
        height: 35px;
        margin-bottom: 20px;
    }
    input.search-icon {
        background-size:15px;
        background-position:10px;
    }
    .seach-fields button {
        border-radius: 3px;
        height: 35px;
        width: 100%;
        margin-bottom: 20px;
    }
    input#filter-with-icon::placeholder{
        font-size: 14px;
    }
    .seach-fields button span{
        font-size: 14px;
        line-height: 20px;
        width:85%;
    }
    .seach-fields button img {
        height: 10px;
        top: 12px;
        right: 11px;
    }
    .book-info {
        max-width: 100%;
        max-height: 100%;
        margin-bottom: 30px;
    }
    .book-info img.book-img {
         width: 100%;
         height: 180px;
    }
    .book-short-info {
        padding: 15px 15px 15px 15px;
    }
    .book-heading 
    {
        height: 45px;
    }
    .book-short-info h5 {
        font-size: 17px;
        line-height: 23px;
    }
    .book-short-info ul {
        margin-top: 10px;
        padding-left: 0;
    }
    .book-short-info ul li {
        margin: 5px 0;
    }
    .book-info-img{
        width: 28px;
        margin-right: 10px;
    }
    .book-short-info ul li img {
           height: 17px;
    }
    .book-short-info ul li span {
        font-size: 14px;
        line-height: 20px;
    }
    .star img{
        height: 15px;
        margin-top: -10px;
    }
    .star {
        margin-top: 10px;
        margin-left: -15px;
    }
    .star .col-lg-7 {
        font-size: 14px;
        line-height: 20px;
        padding: 0;
        margin-left: -12px;
    }
    
    #pagination {
        padding-top: 15px;
    }
    #pagination a.page-link{
        width: 32px;
        height: 32px;
        font-size: 16px;
        line-height: 20px;
        padding-top: 6px;
    }
    li.arrow {
        margin: 0 15px;
    }
    li.arrow span:first-child {
        font-size: 25px;
        margin: auto;
    }
     }
  
/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and  (max-width: 767px)  { 
    .heading h2 {
        text-align: center;
        font-size: 24px;
        line-height: 30px;
        margin-top: 20px;
        margin-bottom: 5px;
    }
    #search-banner{
        height: 120px;
    }
    #search-bg-image {
        height: 140px;
        top: 50px;
    }
    #search-overlay {
        height: 140px;
        top: 50px;
    }
    #search-content {
        padding-top:30px;
    }
    #search-heading h2 {
        font-size: 30px;
        line-height: 42px;
    }
    #filter-wrapper {
        width: 100%;
    }
    #filter-wrapper {
        padding: 20px 20px;
    }
    #search-result>.container {
        padding: 0;
    }
    input#filter-with-icon {
        height: 30px;
        margin-bottom: 15px;
    }
    input.search-icon {
        background-size:15px;
        background-position:8px;
    }
    .seach-fields button {
        border-radius: 3px;
        height: 30px;
        width: 100%;
        margin-bottom: 15px;
    }
    input#filter-with-icon::placeholder{
        font-size: 13px;
    }
    .seach-fields button span{
        font-size: 13px;
        line-height: 20px;
        width:85%;
    }
    .seach-fields button img {
        height: 8px;
        top: 11px;
        right: 11px;
    }
    .book-info {
        max-width: 300px;
        max-height: 100%;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 30px;
    }
    .book-info img.book-img {
         width: 100%;
         height: 150px;
    }
    .book-short-info {
        background-color: #ffffff;
        padding: 10px ;
    }
    .book-heading 
    {
        height: auto;
        margin-bottom: -8px;
    }
    .book-short-info h5 {
        font-size: 14px;
        line-height: 20px;
    }
    .book-short-info ul {
        margin-top: 5px;
        padding-left: 0;
    }
    .book-short-info ul li {
        padding-bottom: 0;
        margin: 0px 0;
    }
    .book-info-img{
        width: 25px;
        margin-right: 8px;
    }
    .book-short-info ul li img {
           height: 15px;
    }
    .book-short-info ul li span {
        font-size: 12px;
        line-height: 20px;
    }
    .star img{
        height: 14px;
        margin-top: -10px;
        margin-right: -2px;
    }
    .star {
        margin-top: -10px;
        margin-left: -12px;
    }
    .star .col-lg-7 {
        font-size: 12px;
        line-height: 20px;
        padding: 0;
        margin-left: -15px;
    }
    
    #pagination {
        padding-top: 10px;
        margin-bottom: 0;
    }
    #pagination a.page-link{
        width: 26px;
        height: 26px;
        font-size: 12px;
        line-height: 12px;
        padding-left: 10px;
    }
    li.arrow {
        margin: 0 15px;
        margin-top:-2px;
    }
    li.arrow span:first-child {
        font-size: 16px;
        margin: auto;
    }
     }

 
@media (min-width: 375px) and  (max-width: 575px)  { 
    .heading h2 {
        text-align: center;
        font-size: 22px;
        line-height: 22px;
        margin-top: 10px;
        margin-bottom: 5px;
    }
    #search-banner{
        height: 80px;
    }
    #search-bg-image {
        height: 120px;
        top: 45px;
    }
    #search-overlay {
        height: 120px;
        top: 45px;
    }
    #search-content {
        padding-top:8px;
    }
    #search-heading h2 {
        font-size: 26px;
        line-height: 42px;
    }
    #filter-wrapper {
        width: 100%;
    }
    #filter-wrapper {
        padding: 10px 10px;
    }
    #search-result>.container {
        padding: 0;
    }
    input#filter-with-icon {
        height: 25px;
        margin-bottom: 15px;
    }
    input.search-icon {
        background-size:15px;
        background-position:8px;
    }
    .seach-fields button {
        border-radius: 3px;
        height: 25px;
        width: 80%;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 5px;
    }
    input#filter-with-icon::placeholder{
        font-size: 13px;
    }
    .seach-fields button span{
        margin-top: -5px;
        font-size: 13px;
        line-height: 20px;
        width:85%;
    }
    .seach-fields button img {
        height: 8px;
        top: 8px;
        right: 11px;
    }
    .book-info {
        max-width: 250px;
        max-height: 100%;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 10px;
    }
    .book-info img.book-img {
         width: 100%;
         height: 120px;
    }
    .book-short-info {
        padding: 7px ;
        margin-bottom: 0px;
    }
    .book-heading {
        height: auto;
        margin-bottom: -8px;
    }
    .book-short-info h5 {
        font-size: 12px;
        line-height: 18px;
    }
    .book-short-info ul {
        margin-top: 5px;
        padding-left: 0;
    }

    .book-short-info ul li {
        padding: 0;
        margin: 0px 0;
        margin-bottom: -5px;
    }
    .book-info-img{
        width: 20px;
        margin-right: 5px;
    }
    .book-short-info ul li img {
           height: 12px;
    }
    .book-short-info ul li span {
        font-size: 10px;
        line-height: 10px;
    }
    .star img{
        height: 12px;
        margin-top: -10px;
        margin-right: -2px;
    }
    .star {
        margin-top: -10px;
        margin-left: -10px;
    }
    .star .col-lg-7 {
        font-size: 10px;
        line-height: 10px;
        padding: 0;
        margin-left: 90px;
        margin-top: -20px ;
    }
    
    #pagination {
        padding-top: 10px;
        margin-bottom: 0;
    }
    #pagination a.page-link{
        width: 26px;
        height: 26px;
        font-size: 12px;
        line-height: 12px;
        padding-left: 10px;
    }
    li.arrow {
        margin: 0 15px;
        margin-top:-2px;
    }
    li.arrow span:first-child {
        font-size: 16px;
        margin: auto;
    }
     }

     @media (min-width: 320px) and  (max-width: 374px)  { 
        .heading h2 {
            text-align: center;
            font-size: 20px;
            line-height: 22px;
            margin-top: 10px;
            margin-bottom: 5px;
        }
        #search-banner{
            height: 70px;
        }
        #search-bg-image {
            height: 100px;
            top: 45px;
        }
        #search-overlay {
            height: 100px;
            top: 45px;
        }
        #search-content {
            padding-top: 4px;
        }
        #search-heading h2 {
            font-size: 26px;
            line-height: 42px;
        }
        #filter-wrapper {
            width: 100%;
        }
        #filter-wrapper {
            padding: 10px 10px;
        }
        #search-result>.container {
            padding: 0;
        }
        input#filter-with-icon {
            height: 25px;
            margin-bottom: 5px;
        }
        input.search-icon {
            background-size:15px;
            background-position:8px;
        }
        .seach-fields button {
            border-radius: 3px;
            height: 25px;
            width: 70%;
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 5px;
        }
        input#filter-with-icon::placeholder{
            font-size: 13px;
        }
        .seach-fields button span{
            margin-top: -5px;
            font-size: 13px;
            line-height: 20px;
            width:85%;
        }
        .seach-fields button img {
            height: 8px;
            top: 8px;
            right: 11px;
        }
        .book-info {
            max-width: 220px;
            max-height: 100%;
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 10px;
        }
        .book-info img.book-img {
             width: 100%;
             height: 100px;
        }
        .book-short-info {
            padding: 7px ;
            margin-bottom: 0px;
        }
        .book-heading {
            height: auto;
            margin-bottom: -8px;
        }
        .book-short-info h5 {
            font-size: 10px;
            line-height: 14px;
        }
        .book-short-info ul {
            margin-top: 0px;
            padding-left: 0;
        }
    
        .book-short-info ul li {
            padding: 0;
            margin: 0px 0;
            margin-bottom: -5px;
        }
        .book-info-img{
            width: 15px;
            margin-right: 7px;
        }
        .book-short-info ul li img {
               height: 12px;
        }
        .book-short-info ul li span {
            font-size: 10px;
            line-height: 10px;
        }
        .star img{
            height: 10px;
            margin-top: -10px;
            margin-right: -2px;
        }
        .star {
            margin-top: -15px;
            margin-left: -10px;
        }
        .star .col-lg-7 {
            font-size: 10px;
            line-height: 10px;
            padding: 0;
            margin-left: 80px;
            margin-top: -19px ;
        }
        
        #pagination {
            padding-top: 0px;
            margin-bottom: -20px;
        }
        #pagination a.page-link{
            width: 22px;
            height: 22px;
            font-size: 10px;
            line-height: 12px;
            padding-top: 5px;
            padding-left: 8px;
        }
        li.arrow {
            margin: 0 5px;
            margin-top:-2px;
        }
        li.arrow span:first-child {
            font-size: 16px;
            margin: auto;
        }
         }