/*=============================================================
                       Costom CSS Styles
font-family: "Open sans" , sans-serif;
    font-weight: 300;
    font-weight: 400;
    font-weight: 600;
    font-weight: 700;

color : #6255a5  OR rbg(98,85,165)
==============================================================*/

/* =========================================
                Html, Body
============================================ */
html,
body {
    height: 100%;
}
section {
    background: #fff;
    overflow: hidden;
}


#open {
    color: #ffffff;
}
/* ===========================================
                Heading
============================================ */
.heading h2 {
    color: #6255a5;
    font-family: "Open sans" , sans-serif;
    font-size: 32px;
    font-weight: 600;
    line-height: 38px;
}




/* ===========================================
                   Home Main
============================================ */
#home {
    background: none;
    height: 400px;
}
#home-bg-image {
    position: fixed; 
    z-index: -1;
    height: 400px;
    width: 100%;
    background-size: cover;
    top: 0;
}
#home-overlay {
    background-color: rgba(57, 47, 105, 0.6);
    width: 100%;
    height: 400px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}
#header nav:nth-child(2){
    border-bottom: 0;
}
/* Home Content */
#home-content {
    padding-top: 24%;
}
#home-heading h2 {
    color: #ffffff;
    font-family: "Open sans" , sans-serif;
    font-weight: 600;
    font-size: 35px;
    line-height: 42px;
    padding: 0;
    margin: 0;
}
#home-paragraph {
    padding: 8px 0;
}
#home-paragraph p {
    color: #ffffff;
    font-family: "Open sans";
    font-size: 13px;
    font-weight: 300;
    line-height: 20px;
}
#home-btn {
    margin-top: 8px;
}
#home-btn a {
     color: #ffffff;
     font-family: "Open sans";
     font-size: 11px;
     font-weight: 400;
     text-transform: uppercase;
     border : 1px ridge #ffffff;
     border-radius: 3px;
     padding: 7px 16px;  
     text-decoration: none;
}
#home-btn a:hover,
#home-btn a:focus {
    color: #6255a5;
    background-color: #ffffff;
}

/* ===========================================
                   Home about
============================================ */
#home-about {
    padding: 50px 0;
    background-color: #ffffff;
}
#about-left h2 {
    color: #6255a5;
    font-family: "Open sans" , sans-serif;
    font-weight: 600;
    font-size: 34px;
    line-height: 38px;
    padding: 0;
    margin: 0;
}
#about-right p {
    font-family: "Open sans" , sans-serif;
    font-size: 15px;
    font-weight: 400;
    color:#333333;
    line-height: 22px;
} 
#about-right p:first-child {
    margin-bottom: 25px;
}


/* ===========================================
                   Home Works
============================================ */
#home-work {
    background-color: #f4f4f4;
    padding: 0;
}
#home-work .heading {
   margin: 40px 0 20px 0;
}
.home-work-wrapper {
    margin-bottom: 60px;
}
.rounded-image {
    background-color: #ffffff;
    height: 110px;
    width: 110px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 55px;
    position: relative;
}
.rounded-image  img{
    height: 50px;
    width: 50px;
    position: absolute;
    top: 30px;
    left: 30px;
}
.home-work-wrapper h4 {
    font-family: "Open sans" , sans-serif;
    font-size: 22px;
    font-weight: 600;
    line-height: 26px;
    color: #6255a5; 
    padding: 3px 0;
}
.home-work-wrapper h5 {
    font-family: "Open sans" , sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    color: #333333;
}
.home-work-btn {
    margin-top: 30px;
}
.home-work-btn a {
    font-family: "Open sans" , sans-serif;
    font-weight: 600;
    font-size: 15px;
    color:#ffffff;
    text-transform: uppercase;
    background-color: #6255a5;
    border-radius: 3px;
    padding:8px 23px;
    text-decoration: none;
}
.home-work-btn a:hover,
.home-work-btn a:focus{
    border : 2px solid #6255a5;
    color: #6255a5;
    background-color: #ffffff;
}



/* ===========================================
                   Home Customers
============================================ */
#home-customers{
    margin: 0;
    background-color: #ffffff;
}
#home-customers .heading {
    margin-top: 40px;
    margin-bottom: 15px;
}
#home-customers .col-md-6 {
   padding: 0;
   margin: 0;
}
.home-costomer-wrapper {
    border-radius: 3px;
    box-shadow: 0 0 20px 0 rgba(0,0,0,0.1);
    padding: 30px;
    margin: 15px;
}
.home-costomer-wrapper img {
    height: 90px;
    width: 90px;
    border-radius: 50%;

}
.home-costomer-wrapper h4 , 
.home-costomer-wrapper h5 {
    margin-left: -15px;
} 
.home-costomer-wrapper h4 {
    font-family: "Open sans" , sans-serif;
    font-size: 24px;
    font-weight: 600;
    line-height: 36px;
    color: #6255a5;
    margin-top: 20px;
    margin-bottom: 0;
}
.home-costomer-wrapper h5 {
    font-family: "Open sans" , sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    color: #333333;
    margin-top: -7px;
}
.home-costomer-wrapper p{
    font-family: "Open sans" , sans-serif;
    font-size: 15px;
    font-style: italic;
    font-weight: 400;
    line-height: 22px;
    color: #333333;
    margin: 17px 0 0 0;
}



/* =========================================
                Footer
============================================ */
#footer {
    padding-top: 45px;
    background-color: #ffffff;
}
#footer hr {
    width: 100%;
    border: 1px solid #f4f4f4;
    margin: 0;
}
#footer p {
    color: #333333;
    font-family: "Open sans" , sans-serif;
    font-weight: 400;
    margin:0;
    padding: 45px 0;
}
/* Social Icons */
ul.social-icons {
    margin: 0;
    padding: 43px 0 ;
    float: right;
}
ul.social-icons li {
    margin: 0 1px;
    display: inline-block;
    padding: 0;
    text-align: center;
}
ul.social-icons li a {
    border: 1px solid #fff;
    width: 33px;
    height: 33px;
    background-color: #6255a5;
    display: inline-block;
    line-height: 33px;
    color: #fff;
    border-radius: 50%;
    -webkit-transition: all 400ms linear;
    transition: all 400ms linear;
}
ul.social-icons li:nth-child(1) a:hover {
    background: #3b5998;
    border-color: transparent;
}
ul.social-icons li:nth-child(2) a:hover {
    background: #00aced;
    border-color: transparent;
}
ul.social-icons li:nth-child(3) a:hover {
    background: #1f479c;
    border-color: transparent;
}



/* Making Responsive  */

/* // Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px)  { 
    #home-content {
           padding-top: 20%;
    }
 }

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199px) { 
    .heading h2 {
        font-size: 28px;
        line-height: 38px;
    }
    .home-costomer-wrapper h4 , 
.home-costomer-wrapper h5 {
    margin-left: 5px;
} 
.home-costomer-wrapper h4 {
    margin-top: 10px;
}
.home-costomer-wrapper img {
    height: 80px;
    width: 80px;
    border-radius: 50%;

}
 }


/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991px) { 
    #home-content {
        padding-top: 20%;
 }
 #home-about {
    padding: 30px 0;
}
#about-left {
    margin-bottom: 5px;
}
#about-right p {
    font-family: "Open sans" , sans-serif;
    font-size: 15px;
    font-weight: 400;
    color:#333333;
    line-height: 22px;
} 
#about-right p:first-child {
    margin-bottom: 25px;
}
.home-costomer-wrapper h4 {
    margin-top: 12px;
}

    .home-costomer-wrapper h4,
    .home-costomer-wrapper h5{
        padding-left: 0;
        margin-left: 0;
    }
 }


/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and  (max-width: 767px) { 
    #home-content {
        padding-top: 24%;
 }
 .heading h2{
     font-size: 26px;
 }
 #home-about {
    padding: 10px 0;
}
#about-left {
    margin-bottom: 10px;
}
#about-left h2{
    font-size: 26px;
    line-height: 30px;
}
#about-right p {
    font-size: 13px;
    line-height: 17px;
} 

#about-right p:first-child {
    margin-bottom: 25px;
}
.home-costomer-wrapper h4 {
    margin-top: 12px;
}

#home-work .heading {
    margin: 20px 0 20px 0;
 }

 .home-costomer-wrapper img {
    height: 70px;
    width: 70px;

}
.rounded-image {
    height: 90px;
    width: 90px;
}
.rounded-image  img{
    height: 35px;
    width: 35px;
    top: 25px;
    left: 30px;
}
.home-work-wrapper h4{
    font-size: 20px;
    margin-bottom: 0;
}
.home-work-wrapper h5 {
    font-size: 14px;
    line-height: 22px;
}
.home-work-btn {
    margin-top: 20px;
}
.home-costomer-wrapper img {
    height: 60px;
    width:60px;

}
.home-costomer-wrapper {
    padding: 20px;
}
 .home-costomer-wrapper h4,
    .home-costomer-wrapper h5{
        padding-left: 0;
        margin-left: 0;
    }
    .home-costomer-wrapper h4 {
        font-size: 20px;
        line-height: 24px;
        margin-top: 12px;
    }
    .home-costomer-wrapper h5 {
        font-size: 14px;
    }
 }


 @media (min-width: 375px) and  (max-width: 575px){
    #home {
        height: 300px;
    }
    #home-bg-image {
        height: 300px;
    }
    #home-overlay {
        height: 300px;
    }
    /* Home Content */
    #home-content {
        padding-top: 90px;
    }
  
 #home-heading h2 {
     font-size: 23px;
     line-height: 26px;
 }
 #home-about {
    padding: 20px 0;
}
#about-left {
    margin-bottom: 10px;
}
#about-left h2{
    font-size: 24px;
    line-height: 30px;
}
#about-right p {
    font-size: 13px;
    line-height: 17px;
} 
.heading h2 {
    font-size: 24px;
    margin-bottom: 0;
}
#about-right p:first-child {
    margin-bottom: 20px;
}
.home-costomer-wrapper h4 {
    margin-top: 12px;
}

#home-work .heading {
    margin: 20px 0 20px 0;
 }

 .home-costomer-wrapper img {
    height: 70px;
    width: 70px;

}
.rounded-image {
    height: 80px;
    width: 80px;
}
.rounded-image  img{
    height: 32px;
    width: 32px;
    top: 22px;
    left: 25px;
}
.home-work-wrapper h4{
    font-size: 18px;
    margin-bottom: 0;
}
.home-work-wrapper h5 {
    font-size: 12px;
    line-height: 16px;
}
.home-work-btn {
    margin-top: 16px;
}
.home-work-btn a {
    font-size: 12px;
    line-height: 16px;
    padding:6px 17px;
}
.home-costomer-wrapper img {
    height: 60px;
    width:60px;
}
.home-costomer-wrapper {
    padding: 20px;
    text-align: center;
}
 .home-costomer-wrapper h4,
    .home-costomer-wrapper h5{
        padding-left: 0;
        margin-left: 0;
    }
    .home-costomer-wrapper h4 {
        font-size: 20px;
        line-height: 24px;
        margin-top: 12px;
    }
    .home-costomer-wrapper h5 {
        margin-top: 3px;
        font-size: 14px;
        line-height: 20px;
        margin-bottom: 7px;
    }
    .home-costomer-wrapper p {
        margin-top: 0;
        font-size: 14px;
        line-height: 18px;
    }
 }

 
@media (min-width: 320px) and  (max-width: 374px){
    #home {
        height: 300px;
    }
    #home-bg-image {
        height: 300px;
    }
    #home-overlay {
        height: 300px;
    }
    /* Home Content */
    #home-content {
        padding-top: 80px;
    }
 #home-heading h2 {
     font-size: 23px;
     line-height: 26px;
 }
 #home-about {
    padding: 20px 0;
}
#about-left {
    margin-bottom: 10px;
}
#about-left h2{
    font-size: 24px;
    line-height: 30px;
}
#about-right p {
    font-size: 13px;
    line-height: 17px;
} 
.heading h2 {
    font-size: 24px;
    margin-bottom: 0;
}
#about-right p:first-child {
    margin-bottom: 20px;
}
.home-costomer-wrapper h4 {
    margin-top: 12px;
}

#home-work .heading {
    margin: 20px 0 20px 0;
 }

 .home-costomer-wrapper img {
    height: 70px;
    width: 70px;

}
.rounded-image {
    height: 80px;
    width: 80px;
}
.rounded-image  img{
    height: 32px;
    width: 32px;
    top: 22px;
    left: 25px;
}
.home-work-wrapper h4{
    font-size: 18px;
    margin-bottom: 0;
}
.home-work-wrapper h5 {
    font-size: 12px;
    line-height: 16px;
}
.home-work-btn {
    margin-top: 16px;
}
.home-work-btn a {
    font-size: 12px;
    line-height: 16px;
    padding:6px 17px;
}
.home-costomer-wrapper img {
    height: 60px;
    width:60px;
}
.home-costomer-wrapper {
    padding: 20px;
    text-align: center;
}
 .home-costomer-wrapper h4,
    .home-costomer-wrapper h5{
        padding-left: 0;
        margin-left: 0;
    }
    .home-costomer-wrapper h4 {
        font-size: 20px;
        line-height: 24px;
        margin-top: 12px;
    }
    .home-costomer-wrapper h5 {
        margin-top: 3px;
        font-size: 14px;
        line-height: 20px;
        margin-bottom: 3px;
    }
    .home-costomer-wrapper p {
        margin-top: 0;
        font-size: 13px;
        line-height: 15px;
    }
}







