/*=============================================================
                       Costom CSS Styles
font-family: "Open sans" , sans-serif;
    font-weight: 300;
    font-weight: 400;
    font-weight: 600;
    font-weight: 700;

color : #6255a5  OR rbg(98,85,165)
==============================================================*/

/* =========================================
                Html, Body
============================================ */
html,
body {
    height: 100%;
}
section {
    background: #fff;
    overflow: hidden;
}

/* ===========================================
                Heading
============================================ */
.heading h2 {
    color: #6255a5;
    font-family: "Open sans" , sans-serif;
    font-size: 32px;
    font-weight: 700;
    line-height: 38px;
    margin: 60px 0 15px 0 ;
}

/* ===========================================
                   Search Banner
============================================ */
#faq-banner{
    background: none;
    height: 260px;
    
}
#faq-bg-image {
    position: fixed; 
    z-index: -1;
    height: 200px;
    width: 100%;
    background-size: cover;
    top: 68px;
}
#faq-overlay {
    background-color: rgba(57, 47, 105, 0.6);
    width: 100%;
    height: 200px;
    position: fixed;
    top: 68px;
    left: 0;
    z-index: -1;
}

/* FAQ Heading */
#faq-heading {
    padding-top: 140px;
}
#faq-heading h2 {
    color: #ffffff;
    font-family: "Open sans" , sans-serif;
    font-weight: 600;
    font-size: 35px;
    line-height: 42px;
}

/* Question Ansrwe */
.card-header {
    padding: 0;
}
.form-control {
    height: 50px;
    padding-top: 14px;
    background-color: #d1d1d1;
    border: none;
    border-radius: 0;
} 

.form-control label {
    font-family: "Open sans" , sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    color: #333333;
}
.card-body {
    font-family: "Open sans" , sans-serif;
    font-size: 16px;
    font-weight: 400;
    color:#333333; 
    padding: 0 12px 12px 12px ;
}
.card {
     border: 1px solid #d1d1d1 ;
     margin-top: 15px;
}

a.show-hide {
    margin: 0;
    padding: 0;
    float: right;
}
/* Show Hide Image  */
.show-hide-image {
    margin: auto;
    vertical-align: middle; 
    display: inline-block;
}

.on-show-answer {
    background-color: #ffffff;
}
.on-show-answer label {
    font-family: "Open sans" , sans-serif;
    font-size: 18px;
    font-weight: 600;
    line-height: 22px;
    color: #333333;
}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199px) { 
    .heading h2 {
        font-size: 32px;
        line-height: 38px;
        margin: 20px 0 10px 0 ;
    }
    #faq-banner{
        height: 200px;   
    }
    #faq-bg-image {
        height: 150px;
        top: 60px;
    }
    #faq-overlay {
        height: 150px;
        top: 60px;
        left: 0;
    }
    
    /* FAQ Heading */
    #faq-heading {
        padding-top: 110px;
    }
 }


/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991px) { 
    .heading h2 {
        font-size: 32px;
        line-height: 38px;
        margin: 20px 0 10px 0 ;
    }
    #faq-banner{
        height: 200px;   
    }
    #faq-bg-image {
        height: 150px;
        top: 52px;
    }
    #faq-overlay {
        height: 150px;
        top: 52px;
        left: 0;
    }
    
    /* FAQ Heading */
    #faq-heading {
        padding-top: 105px;
    }
    #faq-heading h2 {
        font-size: 30px;
        line-height: 38px;
    }
    
    /* Question Ansrwe */
    .card-header {
        padding: 0;
    }
    .form-control {
        height: 40px;
        padding-top: 10px;
    } 
    
    .form-control label {
        font-size: 16px;
        line-height: 22px;
    }
    .card-body {
        font-size: 15px;
        padding: 0 12px 12px 12px ;
    }
    .card {
         margin-top: 15px;
    }
    
    a.show-hide {
        margin-top: -3px;
        padding: 0;
        float: right;
    }
    .on-show-answer {
        background-color: #ffffff;
    }
    .on-show-answer label {
        font-size: 17px;
        line-height: 22px;
    }
    
 }



/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and  (max-width: 767px) { 
    .heading h2 {
        font-size: 30px;
        line-height: 30px;
        margin: 20px 0 5px 0 ;
    }
    #faq-banner{
        height: 200px;   
    }
    #faq-bg-image {
        height: 150px;
        top: 52px;
    }
    #faq-overlay {
        height: 150px;
        top: 52px;
        left: 0;
    }
    
    /* FAQ Heading */
    #faq-heading {
        padding-top: 105px;
    }
    #faq-heading h2 {
        font-size: 30px;
        line-height: 38px;
    }
    
    /* Question Ansrwe */
    .card-header {
        padding: 0;
    }
    .form-control {
        height: 35px;
        padding-top: 6px;
    } 
    
    .form-control label {
        font-size: 15px;
        line-height: 22px;
    }
    .card-body {
        font-size: 14px;
        padding: 0 12px 12px 12px ;
    }
    .card {
         margin-top: 10px;
    }
    
    a.show-hide {
        margin-top: -3px;
        padding: 0;
        float: right;
    }
    .on-show-answer {
        background-color: #ffffff;
    }
    .on-show-answer label {
        font-size: 16px;
        line-height: 22px;
    }
  
 }



@media (min-width: 375px) and  (max-width: 575px){
    .heading h2 {
        font-size: 24px;
        line-height: 30px;
        margin: 10px 0 0px 0 ;
    }
    #faq-banner{
        height: 155px;   
    }
    #faq-bg-image {
        height: 110px;
        top: 48px;
    }
    #faq-overlay {
        height: 110px;
        top: 48px;
        left: 0;
    }
    
    /* FAQ Heading */
    #faq-heading {
        padding-top: 80px;
    }
    #faq-heading h2 {
        font-size: 26px;
        line-height: 38px;
    }
    
    /* Question Ansrwe */
    .card-header {
        padding: 0;
    }
    .form-control {
        height: 30px;
        padding-top: 2px;
    } 
    
    .form-control label {
        font-size: 14px;
        line-height: 22px;
    }
    .card-body {
        font-size: 12px;
        padding: 2px 12px 12px 12px ;
    }
    .card {
         margin-top: 8px;
    }
    
    a.show-hide {
        margin-top: -3px;
        padding: 0;
        float: right;
    }
    .on-show-answer {
        background-color: #ffffff;
    }
    .on-show-answer label {
        font-size: 14px;
        line-height: 22px;
    }
}



@media (min-width: 320px) and  (max-width: 374px){
    .heading h2 {
        font-size: 20px;
        line-height: 30px;
        margin: 10px 0 0px 0 ;
    }
    #faq-banner{
        height: 135px;   
    }
    #faq-bg-image {
        height: 90px;
        top: 48px;
    }
    #faq-overlay {
        height: 90px;
        top: 48px;
        left: 0;
    }
    
    /* FAQ Heading */
    #faq-heading {
        padding-top: 73px;
    }
    #faq-heading h2 {
        font-size: 22px;
        line-height: 30px;
    }
    
    /* Question Ansrwe */
    .card-header {
        padding: 0;
    }
    .form-control {
        height: 27px;
        padding-top: 0px;
    } 
    
    .form-control label {
        font-size: 12px;
        line-height: 22px;
    }
    .card-body {
        font-size: 10px;
        padding: 2px 12px 8px 12px ;
    }
    .card {
         margin-top: 5px;
    }
    
    a.show-hide {
        margin-top: 0px;
        padding: 0;
        float: right;
    }
    .on-show-answer {
        background-color: #ffffff;
    }
    .on-show-answer label {
        font-size: 12px;
        line-height: 22px;
    }
}
